* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register {
  display: flex;
  flex-direction: column;
  background: #6869c0;
  color: white;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

  .error-msg {
    border: red 2px solid;
    background: rgb(250, 146, 146);
    padding: 3px 5px;
    border-radius: 8px;
    font-size: 14px;
  }

  .offscreen {
    visibility: hidden;
  }

  &-inputs {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      font-size: 14px;
    }

    input {
      padding: 5px 10px;
    }

    p {
      font-size: 12px;
      margin: 0 auto;

      a {
        color: black;
      }
    }

    .checkbox {
      padding: 0 20px;
    }

    Button {
      margin-top: 10px;
      border: none;
      background: #292a4e;
      color: white;
      border-radius: 4px;
      transition: 0.3s ease, cursor 0.3s ease;

      &:disabled {
        background: #292a4e;
        color: rgba(255, 255, 255, 0.7);
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

  &-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }
}

.instructions {
  background: rgb(234, 64, 64);
  width: 100%;
  padding: 5px ;
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 16px;
}

.offscreen {
  display: none;
}
