.home {
  height: 89vh;
  padding: 30px;

  .add-btn {
    border-radius: 1e7px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #6869c0;
  }

  &-post-section {
    display: flex;
    gap: 20px;
  }

  .success {
    padding: 4px 7px;
    background: green;
    position: absolute;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    color: white;

    &-hide {
      position: absolute;
      left: -9999px;
      transition: 1s ease-in-out;
    }
  }
}

.post {
  box-shadow: 0px 4px 10px rgba(236, 177, 236, 0.3);
  background-color: rgb(140, 89, 140);
  padding: 20px;
  margin-top: 20px;
  max-width: 300px;

  h4 {
    color: white;
    font-size: 20px;
  }

  p {
    color: white;
    margin: 10px 0;
  }

  i {
    color: white;
    font-size: 10px;
    text-align: right;
  }
}

.form-post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

  label {
    margin: 0;
  }

  h3 {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      all: unset;
      transition: 0.3s ease-in-out;
      border-radius: 1e7px;
      padding: 0 3px;

      &:hover {
        background: rgba(0, 0, 0, 0.4);
      }
    }
  }

  Input {
    background: #d9d9d9;
  }

  textarea {
    resize: none;
    padding: 5px 10px;
    background: #d9d9d9;
  }

  Button {
    background: #292a4e;
    margin-top: 12px;
  }
}

.modal-body {
  height: 230px;
}

.table {
  border-radius: 12px;

  thead {
    background: #6869c0;
    color: white;
  }

  &-row {
    button {
      all: unset;
    }
  }

  &-actions {
    display: flex;
    gap: 20px;

    button {
      cursor: pointer;
      padding: 3px;
      transition: 0.2s ease-in-out;

      &:hover {
        background: #0a090934;
        border-radius: 1e7px;
      }
    }
  }
}

.warning-logo {
  margin: 0 auto;
}

.error-pop {
  background: rgb(243, 116, 116);
  text-align: center;
  color: white;
  padding: 6px 0;

  &-hide {
    display: none;
  }
}
.success-pop {
  background: rgb(116, 243, 152);
  text-align: center;
  color: rgb(28, 27, 27);
  padding: 6px 0;
  margin-bottom: 20px;

  &-hide {
    display: none;
  }
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}