@import url("https://fonts.cdnfonts.com/css/varuna");

.auth-layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-layout {
  max-width: 1200px;
  margin: 0 auto;
}

.main-nav {
  background: #7280d8;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: "VARUNA", sans-serif;
    font-variant: small-caps;
    font-size: 36px;
    margin: 0;
    font-weight: 800;
    color: white;
  }

  Button {
    all: unset;
    font-size: 14px;
    padding: 0 30px;
    font-weight: 500;
    border-radius: 1e7px;
    transition: 0.2s ease-in-out;
    border: 1px solid #7280d8;
    color: white;

    &:hover {
      background: rgb(68, 16, 68);
      color: rgb(211, 211, 227);
      border: 1px solid rgb(226, 215, 226);
    }
  }
}

.main-footer {
  background: #292A4E;
  padding: 10px;
  text-align: center;

  p {
    color: rgb(211, 211, 227);
    margin: 0;
  }
}

.main-modal {
  ModalHeader {
    background: #7280d8;
  }
}