.login {
  background: #6869c0;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  color: white;

  .error-msg {
    border: red 2px solid;
    background: rgb(250, 146, 146);
    padding: 3px 5px;
    border-radius: 8px;
  }

  .offscreen {
    visibility: hidden;
  }

  &-inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    input {
      padding: 5px 15px;
    }

    .show-password {
      padding: 0 20px
    }

    Button {
      border: none;
      background: #292a4e;
      color: white;
      border-radius: 4px;
    }

    label {
        font-size: 12px;
        margin-left: 5px;
    }

    p {
        font-size: 12px;
        margin: 0 auto;

        a{
          color: black
        }
    }
  }

}
